:root {
    --accent-color: #2E2F42;
    --title-color: #4D5AE5;
 --primary-color: #434455;
 --secondary-color: #f4f4fd;

}

body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF

}

/*----------------------------HEADER-----------------------------*/

header{  text-decoration: none;
}

ul,
ol,li{
    list-style-type: none;
}
.studio-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;

}
.studio-header{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    
    color: var(--accent-color);  
}
.web-studio{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    text-decoration: none;
     
}


.mail{
   
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

        letter-spacing: 0.02em;
text-decoration: none;
        color:#2e2f42;
}
.adress-mail:hover{
    background-color:#404bbf;
        color: #2e2f42;
    text-decoration: none;
}
.adress-phone:hover{
    background-color: #404bbf;
        color: #2e2f42;
        text-decoration: none;
}
.phone{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---------------------------main--------------------------------*/
button{
background: #404BBF;
}

.ul-button{
    list-style: none;

}
.button-style{
    list-style: none;

}
.button-style-all-points{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    
}

.button-style-all-points:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-style-all-points:focus{
    color: #FFFFFF;
background-color: #404BBF;
}

.li-posotione{
    list-style: none;

}

.banking-app-interface-concept link{
    text-decoration: none;

}


.style-title-points-all{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.p-all-points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);

}

.cashless-payment link{
    text-decoration: none;

}

.meditation-app{
    text-decoration: none;

}

.taxi-service{
 text-decoration: none;
}

.screen-illustrations{
    text-decoration: none;
}

.online-courses{
    text-decoration: none;
}

.instagram-stories-concept{
text-decoration: none;
}

.organic-food{
    text-decoration: none;
}

.fresh-coffee{
text-decoration: none;
}






/*-----------------------------footer--------------------------*/


.web-studio{
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17px;
         
        letter-spacing: 0.03em;
        text-transform: uppercase;
 
        color: #4d5ae5;

}

.positione-footer-wb{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
   
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #f4f4fd;  
    text-decoration: none;
}

.studio-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}





   
