:root {
    --accent-color: #2E2F42;
    --title-color: #4D5AE5;
 --primary-color: #434455;
 --secondary-color: #FFFFFF;
}

body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF

}

/*----------------------------HEADER-----------------------------*/

header{  text-decoration: none;
}

ul,
ol,li{
    list-style-type: none;
}

.style-web{
  
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17px;

        
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #4D5AE5;
    
        
        
        
}

.style-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    
    
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    
    color: #2E2F42;
    
    
   
    
}
.web-studio{
    font-family: "Raleway", sans-serif;
    
   
    
    

  
}

.ul-S-P-C{
    
   
    
    
    
   
}
.mail{
   
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.02em;

        color: #434455;
}

.phone{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---------------------------main--------------------------------*/
button{






background: #404BBF;


}

.button-style{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    
        
        
        text-align: center;
        letter-spacing: 0.04em;
    
        color: #FFFFFF;
}
.button-style-2{
   
        
        justify-content: center;
        
    
        background: #F4F4FD;
        
        
       
}
.ul-button{
    
        
        
        

}
.li-positione-1{


    background: #FFFFFF;
   

}
   .list-positione-2{
    
        background: #FFFFFF;
    
       
   }
   .list-positione-3{

    
   
    
        background: #FFFFFF;
    
        
   }
   .list-positione-4{


    background: #FFFFFF;

    
   }

   .list-positione-5{


    

    background: #FFFFFF;

    
   }

   .list-positione-6{


  

    background: #FFFFFF;

    
   }

   .list-positione-7{



    background: #FFFFFF;

    
   }

   .list-positione-8{


    

    background: #FFFFFF;

    
   }

   .list-positione-9{


    

    background: #FFFFFF;

    
   }

/*-----------------------------footer--------------------------*/

.positione-footer-wb{
    background-color:#2e2f42;
}
.style-web-2{
    
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17px;
 
       
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
 
        color: #4d5ae5;

        
       
       
}

.style-studio-2{


    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    
    
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #f4f4fd;


    
   
    
}



   
