:root {
    --accent-color: #2E2F42;
    --title-color: #4D5AE5;
 --primary-color: #434455;
 --secondary-color: #FFFFFF;
}

body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF

}

/*----------------------------HEADER-----------------------------*/

header{  text-decoration: none;
}

ul,
ol,li{
    list-style-type: none;
}

.style-web{
  
    
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17px;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #4D5AE5;
    
        flex: none;
        
        
}

.style-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    
    color: #2E2F42;
    
    flex: none;
   
    
}
.web-studio{
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    

  
}

.ul-S-P-C{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
   
}
.mail{
   
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: 0.02em;

        color: #434455;
}

.phone{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
/*---------------------------main--------------------------------*/
button{
display: flex;
flex-direction: row;
align-items: flex-start;



background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.button-style{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
    
        color: #FFFFFF;
}
.button-style-2{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        background: #F4F4FD;
        flex: none;
        
       
}
.ul-button{
    display: flex;
        
        align-items: flex-start;
        
        

}
.li-positione-1{


    background: #FFFFFF;
   

}
   .list-positione-2{
    
        background: #FFFFFF;
    
       
   }
   .list-positione-3{

    
   
    
        background: #FFFFFF;
    
        
   }
   .list-positione-4{


    background: #FFFFFF;

    
   }

   .list-positione-5{


    

    background: #FFFFFF;

    
   }

   .list-positione-6{


  

    background: #FFFFFF;

    
   }

   .list-positione-7{



    background: #FFFFFF;

    
   }

   .list-positione-8{


    

    background: #FFFFFF;

    
   }

   .list-positione-9{


    

    background: #FFFFFF;

    
   }

/*-----------------------------footer--------------------------*/
.web-studio-2{
    display: flex;
    flex-direction: row;
    align-items: center;
   

    
}
.style-web-2{
    
    
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
 
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
 
        color: #4D5AE5;

        flex: none;
       
       
}

.style-studio-2{


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #F4F4FD;


    flex: none;
   
    
}



   
